<div class="abastecimento-container">
  <h2>Registro de Abastecimento</h2>

  <form>
    <div class="form-group">
      <label for="bomba">Bomba:</label>
      <select id="bomba" class="form-control" [(ngModel)]="selectedBomba" name="bomba">
        <option *ngFor="let bomba of bombas" [value]="bomba.numero">{{ bomba.tipoCombustivel }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="combustivel">Combustível:</label>
      <select id="combustivel" class="form-control" [(ngModel)]="selectedCombustivel" name="combustivel">
        <option *ngFor="let tipoCombustivel of tiposCombustivel" [value]="tipoCombustivel">{{ tipoCombustivel }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="litros">Quantidade de Litros:</label>
      <input type="number" id="litros" class="form-control" placeholder="Informe a quantidade de litros" [(ngModel)]="litros" name="litros">
    </div>

    <div class="form-group">
      <label for="valor">Valor Total (com imposto):</label>
      <input type="number" id="valor" class="form-control" placeholder="Informe o valor total" [(ngModel)]="valor" name="valor">
    </div>

    <button type="button" class="btn btn-primary" (click)="registrarAbastecimento()" [disabled]="isRequesting">
      {{ isRequesting ? 'Registrando...' : 'Registrar Abastecimento' }}
    </button>
  </form>
</div>
